<template>
   <article class="post">
       <header class="post-header">
        <div class="post-title">
            <nuxt-link to="/">
                <i class="el-icon-back"></i>
            </nuxt-link>
            <h1>Post Title</h1>
        </div>
        <div class="post-info">
            <small>
                <i class="el-icon-time"></i>
                {{ new Date().toLocaleString() }}
            </small>
            <small>
                <i class="el-icon-view"></i>
                56
            </small>
        </div>
        <div class="post-img">
            <img
                src="https://avatars.mds.yandex.net/get-zen_doc/195447/pub_5db5a3a45eb26800ad1ad90f_5db5a3e8fbe6e700adb0d948/scale_1200"
                alt="post kat"
             >
        </div>
       </header>
        <main class="post-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sequi id sed unde ducimus possimus in inventore officia recusandae vero.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sequi id sed unde ducimus possimus in inventore officia recusandae vero.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sequi id sed unde ducimus possimus in inventore officia recusandae vero.
            </p>
        </main>
        <footer>
            <app-comment-form
                v-if="canAddComment"
                @created="cteateCommentHandler"
            />
            <div class="comments" v-if="true">
                 <app-comment
                    v-for="comment in 4"
                    :key="comment"
                 />
            </div>
            <div class="text-center" v-else>Комментариев нет</div>
        </footer>
   </article>
</template>

<script>
import AppComment from "@/components/main/Comment"
import AppCommentForm from "@/components/main/CommentForm"
export default {
  validate({params}) {
    return Boolean(params.id);
  },
  data() {
    return {
        canAddComment: true
    }
  },

  methods: {
    cteateCommentHandler(data) {
      console.log(data);
      this.canAddComment = false;
   }
  },

  components: {
    AppComment,
    AppCommentForm
  }
}

</script>


<style lang="scss" scoped>

    .post {
        max-width: 750px;
        margin: 0 auto;
    }
    .post-title {
        display: flex;
        margin-bottom: 10px;
    }
    .post-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .post-title h1{
        margin-left: 10px;
    }
    .post-img img {
        width: 100%;
        height: auto;
    }
    .post-header {
        margin-bottom: 20px;
    }
    .post-content {
        margin-bottom: 20px;
    }
</style>
