<template>
     <el-form
            :model="controls"
            :rules="rules"
            ref="form"
            @submit.native.prevent="onSubmit"
        >
        <h1>Создать новый пост</h1>

            <el-form-item label="Введите название поста" prop="title">
                <el-input
                    v-model.trim="controls.title"
                    resize="none"
                    :rows="10"
                />
            </el-form-item>

            <el-form-item label="Текст в формате .md или .html" prop="text">
                <el-input
                    type="textarea"
                    v-model="controls.text"
                    resize="none"
                    :rows="10"
                />
            </el-form-item>

            <el-button
              class="mb2"
              type="success"
              plain
              @click="previewDialog = true"
            >
              Предпросмотр
            </el-button>
            <el-dialog
              title="Предпросмотр"
              :visible.sync="previewDialog"
            >
                <div :key="controls.text">
                    <vue-markdown>{{controls.text}}</vue-markdown>
                </div>
            </el-dialog>

            <el-upload
                class="mb2"
                ref="upload"
                drag
                action="https://jsonplaceholder.typicode.com/posts/"
                :on-change="handleImageChange"
                :auto-upload="false"
            >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Перетащите картинку <em>или нажмите</em></div>
                <div class="el-upload__tip" slot="tip">Файлы с расширенеем jpg/png</div>
            </el-upload>

            <el-form-item>
                <el-button
                    type="primary"
                    round
                    native-type="submit"
                    :loading="loading"
                >
                    Создать пост
                </el-button>
            </el-form-item>
        </el-form>
</template>

<script>
export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    data () {
        return {
            image: null,
            previewDialog: false,
            loading: false,
            controls: {
                title: '',
                text: '',
            },
            rules: {
                title: [
                    { required: true, message: 'Текст не должен быть пустым', trigger: 'blur' }
                ],
                text: [
                    { required: true, message: 'Название поста не должен быть пустым', trigger: 'blur' }
                ],
            }
        }
    },
    methods: {
        handleImageChange(file, fileList) {
            this.image = file.raw
        },
        onSubmit () {
           this.$refs.form.validate(async valid => {
                if (valid && this.image) {
                    this.loading = true;
                    const formData = {
                        title: this.controls.title,
                        text: this.controls.text,
                        image: this.image
                    }
                    try {
                        await this.$store.dispatch('post/creat', formData);
                        this.controls.title = '';
                        this.controls.text = '';
                        this.$refs.upload.clearFiles();
                        this.$message.success('Пост создан');
                        this.loading = false;
                    } catch (error) {
                        this.loading = false;

                    }
                } else {
                    this.$message.warning('Форма не валидна')
                }
            });
        }
    }
}
</script>

<style lang="scss" scoped>
    form {
        width: 600px;
    }
</style>
