<template>
    <el-card class="comment">
        <div class="comment-header">
            <span>Person Name</span>
            <span>
                <i class="el-icon-time"></i>
                {{ new Date().toLocaleString() }}
            </span>
        </div>
        <div class="comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </div>
    </el-card>
</template>

<style lang="scss" scoped>
    .comment {
        margin-bottom: 15px;
    }
    .comment-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .comment-text {
        white-space: pre-line;
    }
</style>
