<template>
    <div>
        <nav>
            <h1>HEADER</h1>
        </nav>
    </div>
</template>

<style lang="scss" scoped>
 nav {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     border-bottom: 1px solid black;

     h1 {
         margin: 15px 0px;
     }
 }
</style>
