<template>
    <el-card
        shadow="hover"
        :body-style="{padding: 0}"
        class="post"
    >
    <header slot="header" class="post-header">
        <h3>Post Title</h3>
        <small>
            <i class="el-icon-time"></i>
            {{ new Date().toLocaleString() }}
        </small>
    </header>
    <div class="post-body">
            <img
                class="post-img"
                src="https://avatars.mds.yandex.net/get-zen_doc/195447/pub_5db5a3a45eb26800ad1ad90f_5db5a3e8fbe6e700adb0d948/scale_1200"
                alt="post kat"
             >
        </div>
        <footer class="post-footer">
            <el-button round @click="openPost">Открыть</el-button>
            <span>
                <i class="el-icon-message"></i>
                13
            </span>
        </footer>
    </el-card>
</template>

<script>

export default {
    methods: {
        openPost () {
            const id = 10;
            this.$router.push(`/post/${id}`);
        }
    }
}
</script>


<style lang="scss" scoped>
    .post{
        margin-bottom: 20px;
    }
    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .post-img {
        width: 100%;
        height: auto;
    }
    .post-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }


</style>
