body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}

.page-enter, .page-leave-active {
    opacity: 0;
}
.mb {
    margin-bottom: 10px;
}
.mb2 {
    margin-bottom: 20px;
}